.loginContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}

.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.errorMessage {
  color: red;
}
